*{
    border: 1px solid black;
    padding: 2px;
}

html{
    box-sizing: border-box;
}


.header{

    background: #1f2937;
}

.navigation{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.logo{
flex-basis: 80%;
flex-grow: 0;
flex-shrink: 4;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
}

.main >.main-text > p{
    color: white;
}

.main >.main-text > button{
    background-color: #3882f6;
    color: white;
    padding: 3px 15px;
    border-radius: 10%;
    font-weight: 700;
}


.header > .main > .main-image{
    height: 120px;
    padding: 10px;
    margin: 0 20px;
    width: 600px;
    background-image: url("https://source.unsplash.com/random/400x200");
}

h3{
    text-align: center;
}

.information-images{
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}