*{
    border: 1px solid black;
    padding: 2px;
}

html{
    box-sizing: border-box;
}

.navigation{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.logo{
flex-basis: 80%;
flex-grow: 0;
flex-shrink: 4;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    text-align: center;
}

.information-images{
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}